$base-spacer: 10px !default;
$displays: (
	block
	flex,
	grid,
	inline,
	inline-block,
	none,
	table,
) !default;
$spacers: (
	0, 1, 2, 3, 4,
	5, 6, 7, 8, 9,
	10, 11, 12, 13, 14,
	15, 16, 17, 18, 19,
	20, 21, 22, 23, 24,
) !default;
$sides: (
	top,
	right,
	bottom,
	left,
) !default;
