@use 'true' as *;
@use '../../src/tools/spacing.scss' as *;

@include describe('Given spacing tools') {
	@include describe('When including "margin-classes" mixin in a ".m" selector') {
		@include it('Then it generates all the expected margin classes') {
			@include assert {
				@include output {
					.m {
						@include margin-classes;
					}
				}

				@include expect {
					.m-0 {
						margin: 0;
					}

					.mx-0 {
						margin-left: 0;
						margin-right: 0;
					}

					.my-0 {
						margin-top: 0;
						margin-bottom: 0;
					}

					.mt-0 {
						margin-top: 0;
					}

					.mr-0 {
						margin-right: 0;
					}

					.mb-0 {
						margin-bottom: 0;
					}

					.ml-0 {
						margin-left: 0;
					}

					.m-1 {
						margin: 2.5px;
					}

					.mx-1 {
						margin-left: 2.5px;
						margin-right: 2.5px;
					}

					.my-1 {
						margin-top: 2.5px;
						margin-bottom: 2.5px;
					}

					.mt-1 {
						margin-top: 2.5px;
					}

					.mr-1 {
						margin-right: 2.5px;
					}

					.mb-1 {
						margin-bottom: 2.5px;
					}

					.ml-1 {
						margin-left: 2.5px;
					}

					.m-2 {
						margin: 5px;
					}

					.mx-2 {
						margin-left: 5px;
						margin-right: 5px;
					}

					.my-2 {
						margin-top: 5px;
						margin-bottom: 5px;
					}

					.mt-2 {
						margin-top: 5px;
					}

					.mr-2 {
						margin-right: 5px;
					}

					.mb-2 {
						margin-bottom: 5px;
					}

					.ml-2 {
						margin-left: 5px;
					}

					.m-3 {
						margin: 7.5px;
					}

					.mx-3 {
						margin-left: 7.5px;
						margin-right: 7.5px;
					}

					.my-3 {
						margin-top: 7.5px;
						margin-bottom: 7.5px;
					}

					.mt-3 {
						margin-top: 7.5px;
					}

					.mr-3 {
						margin-right: 7.5px;
					}

					.mb-3 {
						margin-bottom: 7.5px;
					}

					.ml-3 {
						margin-left: 7.5px;
					}

					.m-4 {
						margin: 10px;
					}

					.mx-4 {
						margin-left: 10px;
						margin-right: 10px;
					}

					.my-4 {
						margin-top: 10px;
						margin-bottom: 10px;
					}

					.mt-4 {
						margin-top: 10px;
					}

					.mr-4 {
						margin-right: 10px;
					}

					.mb-4 {
						margin-bottom: 10px;
					}

					.ml-4 {
						margin-left: 10px;
					}

					.m-5 {
						margin: 12.5px;
					}

					.mx-5 {
						margin-left: 12.5px;
						margin-right: 12.5px;
					}

					.my-5 {
						margin-top: 12.5px;
						margin-bottom: 12.5px;
					}

					.mt-5 {
						margin-top: 12.5px;
					}

					.mr-5 {
						margin-right: 12.5px;
					}

					.mb-5 {
						margin-bottom: 12.5px;
					}

					.ml-5 {
						margin-left: 12.5px;
					}

					.m-6 {
						margin: 15px;
					}

					.mx-6 {
						margin-left: 15px;
						margin-right: 15px;
					}

					.my-6 {
						margin-top: 15px;
						margin-bottom: 15px;
					}

					.mt-6 {
						margin-top: 15px;
					}

					.mr-6 {
						margin-right: 15px;
					}

					.mb-6 {
						margin-bottom: 15px;
					}

					.ml-6 {
						margin-left: 15px;
					}

					.m-7 {
						margin: 17.5px;
					}

					.mx-7 {
						margin-left: 17.5px;
						margin-right: 17.5px;
					}

					.my-7 {
						margin-top: 17.5px;
						margin-bottom: 17.5px;
					}

					.mt-7 {
						margin-top: 17.5px;
					}

					.mr-7 {
						margin-right: 17.5px;
					}

					.mb-7 {
						margin-bottom: 17.5px;
					}

					.ml-7 {
						margin-left: 17.5px;
					}

					.m-8 {
						margin: 20px;
					}

					.mx-8 {
						margin-left: 20px;
						margin-right: 20px;
					}

					.my-8 {
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.mt-8 {
						margin-top: 20px;
					}

					.mr-8 {
						margin-right: 20px;
					}

					.mb-8 {
						margin-bottom: 20px;
					}

					.ml-8 {
						margin-left: 20px;
					}

					.m-9 {
						margin: 22.5px;
					}

					.mx-9 {
						margin-left: 22.5px;
						margin-right: 22.5px;
					}

					.my-9 {
						margin-top: 22.5px;
						margin-bottom: 22.5px;
					}

					.mt-9 {
						margin-top: 22.5px;
					}

					.mr-9 {
						margin-right: 22.5px;
					}

					.mb-9 {
						margin-bottom: 22.5px;
					}

					.ml-9 {
						margin-left: 22.5px;
					}

					.m-10 {
						margin: 25px;
					}

					.mx-10 {
						margin-left: 25px;
						margin-right: 25px;
					}

					.my-10 {
						margin-top: 25px;
						margin-bottom: 25px;
					}

					.mt-10 {
						margin-top: 25px;
					}

					.mr-10 {
						margin-right: 25px;
					}

					.mb-10 {
						margin-bottom: 25px;
					}

					.ml-10 {
						margin-left: 25px;
					}

					.m-11 {
						margin: 27.5px;
					}

					.mx-11 {
						margin-left: 27.5px;
						margin-right: 27.5px;
					}

					.my-11 {
						margin-top: 27.5px;
						margin-bottom: 27.5px;
					}

					.mt-11 {
						margin-top: 27.5px;
					}

					.mr-11 {
						margin-right: 27.5px;
					}

					.mb-11 {
						margin-bottom: 27.5px;
					}

					.ml-11 {
						margin-left: 27.5px;
					}

					.m-12 {
						margin: 30px;
					}

					.mx-12 {
						margin-left: 30px;
						margin-right: 30px;
					}

					.my-12 {
						margin-top: 30px;
						margin-bottom: 30px;
					}

					.mt-12 {
						margin-top: 30px;
					}

					.mr-12 {
						margin-right: 30px;
					}

					.mb-12 {
						margin-bottom: 30px;
					}

					.ml-12 {
						margin-left: 30px;
					}

					.m-13 {
						margin: 32.5px;
					}

					.mx-13 {
						margin-left: 32.5px;
						margin-right: 32.5px;
					}

					.my-13 {
						margin-top: 32.5px;
						margin-bottom: 32.5px;
					}

					.mt-13 {
						margin-top: 32.5px;
					}

					.mr-13 {
						margin-right: 32.5px;
					}

					.mb-13 {
						margin-bottom: 32.5px;
					}

					.ml-13 {
						margin-left: 32.5px;
					}

					.m-14 {
						margin: 35px;
					}

					.mx-14 {
						margin-left: 35px;
						margin-right: 35px;
					}

					.my-14 {
						margin-top: 35px;
						margin-bottom: 35px;
					}

					.mt-14 {
						margin-top: 35px;
					}

					.mr-14 {
						margin-right: 35px;
					}

					.mb-14 {
						margin-bottom: 35px;
					}

					.ml-14 {
						margin-left: 35px;
					}

					.m-15 {
						margin: 37.5px;
					}

					.mx-15 {
						margin-left: 37.5px;
						margin-right: 37.5px;
					}

					.my-15 {
						margin-top: 37.5px;
						margin-bottom: 37.5px;
					}

					.mt-15 {
						margin-top: 37.5px;
					}

					.mr-15 {
						margin-right: 37.5px;
					}

					.mb-15 {
						margin-bottom: 37.5px;
					}

					.ml-15 {
						margin-left: 37.5px;
					}

					.m-16 {
						margin: 40px;
					}

					.mx-16 {
						margin-left: 40px;
						margin-right: 40px;
					}

					.my-16 {
						margin-top: 40px;
						margin-bottom: 40px;
					}

					.mt-16 {
						margin-top: 40px;
					}

					.mr-16 {
						margin-right: 40px;
					}

					.mb-16 {
						margin-bottom: 40px;
					}

					.ml-16 {
						margin-left: 40px;
					}

					.m-17 {
						margin: 42.5px;
					}

					.mx-17 {
						margin-left: 42.5px;
						margin-right: 42.5px;
					}

					.my-17 {
						margin-top: 42.5px;
						margin-bottom: 42.5px;
					}

					.mt-17 {
						margin-top: 42.5px;
					}

					.mr-17 {
						margin-right: 42.5px;
					}

					.mb-17 {
						margin-bottom: 42.5px;
					}

					.ml-17 {
						margin-left:42.5px;
					}

					.m-18 {
						margin: 45px;
					}

					.mx-18 {
						margin-left: 45px;
						margin-right: 45px;
					}

					.my-18 {
						margin-top: 45px;
						margin-bottom: 45px;
					}

					.mt-18 {
						margin-top: 45px;
					}

					.mr-18 {
						margin-right: 45px;
					}

					.mb-18 {
						margin-bottom: 45px;
					}

					.ml-18 {
						margin-left: 45px;
          }

					.m-19 {
						margin: 47.5px;
					}

					.mx-19 {
						margin-left: 47.5px;
						margin-right: 47.5px;
					}

					.my-19 {
						margin-top: 47.5px;
						margin-bottom: 47.5px;
					}

					.mt-19 {
						margin-top: 47.5px;
					}

					.mr-19 {
						margin-right: 47.5px;
					}

					.mb-19 {
						margin-bottom: 47.5px;
					}

					.ml-19 {
						margin-left: 47.5px;
					}

					.m-20 {
						margin: 50px;
					}

					.mx-20 {
						margin-left: 50px;
						margin-right: 50px;
					}

					.my-20 {
						margin-top: 50px;
						margin-bottom: 50px;
					}

					.mt-20 {
						margin-top: 50px;
					}

					.mr-20 {
						margin-right: 50px;
					}

					.mb-20 {
						margin-bottom: 50px;
					}

					.ml-20 {
						margin-left: 50px;
					}

					.m-21 {
						margin: 52.5px;
					}

					.mx-21 {
						margin-left: 52.5px;
						margin-right: 52.5px;
					}

					.my-21 {
						margin-top: 52.5px;
						margin-bottom: 52.5px;
					}

					.mt-21 {
						margin-top: 52.5px;
					}

					.mr-21 {
						margin-right: 52.5px;
					}

					.mb-21 {
						margin-bottom: 52.5px;
					}

					.ml-21 {
						margin-left: 52.5px;
					}

					.m-22 {
						margin: 55px;
					}

					.mx-22 {
						margin-left: 55px;
						margin-right: 55px;
					}

					.my-22 {
						margin-top: 55px;
						margin-bottom: 55px;
					}

					.mt-22 {
						margin-top: 55px;
					}

					.mr-22 {
						margin-right: 55px;
					}

					.mb-22 {
						margin-bottom: 55px;
					}

					.ml-22 {
						margin-left: 55px;
					}

					.m-23 {
						margin:  57.5px;
					}

					.mx-23 {
						margin-left: 57.5px;
						margin-right: 57.5px;
					}

					.my-23 {
						margin-top: 57.5px;
						margin-bottom: 57.5px;
					}

					.mt-23 {
						margin-top: 57.5px;
					}

					.mr-23 {
						margin-right: 57.5px;
					}

					.mb-23 {
						margin-bottom: 57.5px;
					}

					.ml-23 {
						margin-left: 57.5px;
					}

					.m-24 {
						margin: 60px;
					}

					.mx-24 {
						margin-left: 60px;
						margin-right: 60px;
					}

					.my-24 {
						margin-top: 60px;
						margin-bottom: 60px;
					}

					.mt-24 {
						margin-top: 60px;
					}

					.mr-24 {
						margin-right: 60px;
					}

					.mb-24 {
						margin-bottom: 60px;
					}

					.ml-24 {
						margin-left: 60px;
					}

					.mt-auto {
						margin-top: auto;
					}

					.mr-auto {
						margin-right: auto;
					}

					.mb-auto {
						margin-bottom: auto;
					}

					.ml-auto {
						margin-left: auto;
					}

					.m-auto {
						margin: auto;
					}

					.mx-auto {
						margin-left: auto;
						margin-right: auto;
					}

					.my-auto {
						margin-top: auto;
						margin-bottom: auto;
					}
				}
			}
		}
	}

	@include describe('When including "padding-classes" mixin in a ".p" selector') {
		@include it('Then it generates all the expected padding classes') {
			@include assert {
				@include output {
					.p {
						@include padding-classes;
					}
				}

				@include expect {
					.p-0 {
						padding: 0;
					}

					.px-0 {
						padding-left: 0;
						padding-right: 0;
					}

					.py-0 {
						padding-top: 0;
						padding-bottom: 0;
					}

					.pt-0 {
						padding-top: 0;
					}

					.pr-0 {
						padding-right: 0;
					}

					.pb-0 {
						padding-bottom: 0;
					}

					.pl-0 {
						padding-left: 0;
					}

					.p-1 {
						padding: 2.5px;
					}

					.px-1 {
						padding-left: 2.5px;
						padding-right: 2.5px;
					}

					.py-1 {
						padding-top: 2.5px;
						padding-bottom: 2.5px;
					}

					.pt-1 {
						padding-top: 2.5px;
					}

					.pr-1 {
						padding-right: 2.5px;
					}

					.pb-1 {
						padding-bottom: 2.5px;
					}

					.pl-1 {
						padding-left: 2.5px;
					}

					.p-2 {
						padding: 5px;
					}

					.px-2 {
						padding-left: 5px;
						padding-right: 5px;
					}

					.py-2 {
						padding-top: 5px;
						padding-bottom: 5px;
					}

					.pt-2 {
						padding-top: 5px;
					}

					.pr-2 {
						padding-right: 5px;
					}

					.pb-2 {
						padding-bottom: 5px;
					}

					.pl-2 {
						padding-left: 5px;
					}

					.p-3 {
						padding: 7.5px;
					}

					.px-3 {
						padding-left: 7.5px;
						padding-right: 7.5px;
					}

					.py-3 {
						padding-top: 7.5px;
						padding-bottom: 7.5px;
					}

					.pt-3 {
						padding-top: 7.5px;
					}

					.pr-3 {
						padding-right: 7.5px;
					}

					.pb-3 {
						padding-bottom: 7.5px;
					}

					.pl-3 {
						padding-left: 7.5px;
					}

					.p-4 {
						padding: 10px;
					}

					.px-4 {
						padding-left: 10px;
						padding-right: 10px;
					}

					.py-4 {
						padding-top: 10px;
						padding-bottom: 10px;
					}

					.pt-4 {
						padding-top: 10px;
					}

					.pr-4 {
						padding-right: 10px;
					}

					.pb-4 {
						padding-bottom: 10px;
					}

					.pl-4 {
						padding-left: 10px;
					}

					.p-5 {
						padding: 12.5px;
					}

					.px-5 {
						padding-left: 12.5px;
						padding-right: 12.5px;
					}

					.py-5 {
						padding-top: 12.5px;
						padding-bottom: 12.5px;
					}

					.pt-5 {
						padding-top: 12.5px;
					}

					.pr-5 {
						padding-right: 12.5px;
					}

					.pb-5 {
						padding-bottom: 12.5px;
					}

					.pl-5 {
						padding-left: 12.5px;
					}

					.p-6 {
						padding: 15px;
					}

					.px-6 {
						padding-left: 15px;
						padding-right: 15px;
					}

					.py-6 {
						padding-top: 15px;
						padding-bottom: 15px;
					}

					.pt-6 {
						padding-top: 15px;
					}

					.pr-6 {
						padding-right: 15px;
					}

					.pb-6 {
						padding-bottom: 15px;
					}

					.pl-6 {
						padding-left: 15px;
					}

					.p-7 {
						padding: 17.5px;
					}

					.px-7 {
						padding-left: 17.5px;
						padding-right: 17.5px;
					}

					.py-7 {
						padding-top: 17.5px;
						padding-bottom: 17.5px;
					}

					.pt-7 {
						padding-top: 17.5px;
					}

					.pr-7 {
						padding-right: 17.5px;
					}

					.pb-7 {
						padding-bottom: 17.5px;
					}

					.pl-7 {
						padding-left: 17.5px;
					}

					.p-8 {
						padding: 20px;
					}

					.px-8 {
						padding-left: 20px;
						padding-right: 20px;
					}

					.py-8 {
						padding-top: 20px;
						padding-bottom: 20px;
					}

					.pt-8 {
						padding-top: 20px;
					}

					.pr-8 {
						padding-right: 20px;
					}

					.pb-8 {
						padding-bottom: 20px;
					}

					.pl-8 {
						padding-left: 20px;
					}

					.p-9 {
						padding: 22.5px;
					}

					.px-9 {
						padding-left: 22.5px;
						padding-right: 22.5px;
					}

					.py-9 {
						padding-top: 22.5px;
						padding-bottom: 22.5px;
					}

					.pt-9 {
						padding-top: 22.5px;
					}

					.pr-9 {
						padding-right: 22.5px;
					}

					.pb-9 {
						padding-bottom: 22.5px;
					}

					.pl-9 {
						padding-left: 22.5px;
					}

					.p-10 {
						padding: 25px;
					}

					.px-10 {
						padding-left: 25px;
						padding-right: 25px;
					}

					.py-10 {
						padding-top: 25px;
						padding-bottom: 25px;
					}

					.pt-10 {
						padding-top: 25px;
					}

					.pr-10 {
						padding-right: 25px;
					}

					.pb-10 {
						padding-bottom: 25px;
					}

					.pl-10 {
						padding-left: 25px;
					}

					.p-11 {
						padding: 27.5px;
					}

					.px-11 {
						padding-left: 27.5px;
						padding-right: 27.5px;
					}

					.py-11 {
						padding-top: 27.5px;
						padding-bottom: 27.5px;
					}

					.pt-11 {
						padding-top: 27.5px;
					}

					.pr-11 {
						padding-right: 27.5px;
					}

					.pb-11 {
						padding-bottom: 27.5px;
					}

					.pl-11 {
						padding-left: 27.5px;
					}

					.p-12 {
						padding: 30px;
					}

					.px-12 {
						padding-left: 30px;
						padding-right: 30px;
					}

					.py-12 {
						padding-top: 30px;
						padding-bottom: 30px;
					}

					.pt-12 {
						padding-top: 30px;
					}

					.pr-12 {
						padding-right: 30px;
					}

					.pb-12 {
						padding-bottom: 30px;
					}

					.pl-12 {
						padding-left: 30px;
					}

					.p-13 {
						padding: 32.5px;
					}

					.px-13 {
						padding-left: 32.5px;
						padding-right: 32.5px;
					}

					.py-13 {
						padding-top: 32.5px;
						padding-bottom: 32.5px;
					}

					.pt-13 {
						padding-top: 32.5px;
					}

					.pr-13 {
						padding-right: 32.5px;
					}

					.pb-13 {
						padding-bottom: 32.5px;
					}

					.pl-13 {
						padding-left: 32.5px;
					}

					.p-14 {
						padding: 35px;
					}

					.px-14 {
						padding-left: 35px;
						padding-right: 35px;
					}

					.py-14 {
						padding-top: 35px;
						padding-bottom: 35px;
					}

					.pt-14 {
						padding-top: 35px;
					}

					.pr-14 {
						padding-right: 35px;
					}

					.pb-14 {
						padding-bottom: 35px;
					}

					.pl-14 {
						padding-left: 35px;
					}

					.p-15 {
						padding: 37.5px;
					}


					.px-15 {
						padding-left: 37.5px;
						padding-right: 37.5px;
					}

					.py-15 {
						padding-top: 37.5px;
						padding-bottom: 37.5px;
					}

					.pt-15 {
						padding-top: 37.5px;
					}

					.pr-15 {
						padding-right: 37.5px;
					}


					.pb-15 {
						padding-bottom: 37.5px;
					}

					.pl-15 {
						padding-left: 37.5px;
					}

					.p-16 {
						padding: 40px;
					}


					.px-16 {
						padding-left: 40px;
						padding-right: 40px;
					}

					.py-16 {
						padding-top: 40px;
						padding-bottom: 40px;
					}

					.pt-16 {
						padding-top: 40px;
					}

					.pr-16 {
						padding-right: 40px;
					}

					.pb-16 {
						padding-bottom: 40px;
					}

					.pl-16 {
						padding-left: 40px;
					}

					.p-17 {
						padding: 42.5px;
					}

					.px-17 {
						padding-left: 42.5px;
						padding-right: 42.5px;
					}

					.py-17 {
						padding-top: 42.5px;
						padding-bottom: 42.5px;
					}

					.pt-17 {
						padding-top: 42.5px;
					}

					.pr-17 {
						padding-right: 42.5px;
					}

					.pb-17 {
						padding-bottom: 42.5px;
					}

					.pl-17 {
						padding-left:42.5px;
					}

					.p-18 {
						padding: 45px;
					}

					.px-18 {
						padding-left: 45px;
						padding-right: 45px;
					}

					.py-18 {
						padding-top: 45px;
						padding-bottom: 45px;
					}

					.pt-18 {
						padding-top: 45px;
					}

					.pr-18 {
						padding-right: 45px;
					}

					.pb-18 {
						padding-bottom: 45px;
					}

					.pl-18 {
						padding-left: 45px;
					}

					.p-19 {
						padding: 47.5px;
					}

					.px-19 {
						padding-left: 47.5px;
						padding-right: 47.5px;
					}

					.py-19 {
						padding-top: 47.5px;
						padding-bottom: 47.5px;
					}

					.pt-19 {
						padding-top: 47.5px;
					}

					.pr-19 {
						padding-right: 47.5px;
					}

					.pb-19 {
						padding-bottom: 47.5px;
					}

					.pl-19 {
						padding-left: 47.5px;
					}

					.p-20 {
						padding: 50px;
					}

					.px-20 {
						padding-left: 50px;
						padding-right: 50px;
					}

					.py-20 {
						padding-top: 50px;
						padding-bottom: 50px;
					}

					.pt-20 {
						padding-top: 50px;
					}

					.pr-20 {
						padding-right: 50px;
					}

					.pb-20 {
						padding-bottom: 50px;
					}

					.pl-20 {
						padding-left: 50px;
					}

					.p-21 {
						padding: 52.5px;
					}

					.px-21 {
						padding-left: 52.5px;
						padding-right: 52.5px;
					}

					.py-21 {
						padding-top: 52.5px;
						padding-bottom: 52.5px;
					}

					.pt-21 {
						padding-top: 52.5px;
					}

					.pr-21 {
						padding-right: 52.5px;
					}

					.pb-21 {
						padding-bottom: 52.5px;
					}

					.pl-21 {
						padding-left: 52.5px;
					}

					.p-22 {
						padding: 55px;
					}

					.px-22 {
						padding-left: 55px;
						padding-right: 55px;
					}

					.py-22 {
						padding-top: 55px;
						padding-bottom: 55px;
					}

					.pt-22 {
						padding-top: 55px;
					}

					.pr-22 {
						padding-right: 55px;
					}

					.pb-22 {
						padding-bottom: 55px;
					}

					.pl-22 {
						padding-left: 55px;
					}

					.p-23 {
						padding:  57.5px;
					}

					.px-23 {
						padding-left: 57.5px;
						padding-right: 57.5px;
					}

					.py-23 {
						padding-top: 57.5px;
						padding-bottom: 57.5px;
					}

					.pt-23 {
						padding-top: 57.5px;
					}

					.pr-23 {
						padding-right: 57.5px;
					}

					.pb-23 {
						padding-bottom: 57.5px;
					}

					.pl-23 {
						padding-left: 57.5px;
					}

					.p-24 {
						padding: 60px;
					}

					.px-24 {
						padding-left: 60px;
						padding-right: 60px;
					}

					.py-24 {
						padding-top: 60px;
						padding-bottom: 60px;
					}

					.pt-24 {
						padding-top: 60px;
					}

					.pr-24 {
						padding-right: 60px;
					}

					.pb-24 {
						padding-bottom: 60px;
					}

					.pl-24 {
						padding-left: 60px;
					}
				}
			}
		}
	}
}
